*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('./images/0449.jpg_wh860.jpg');

    background-size: cover;
    background-repeat: no-repeat;
}
header{
    background-color: #f08a5d;
    text-align:center
}
header ul{
    display: inline-flex;
    position: relative;
    left: 10px;
}
header ul li{
    margin: 20px;
    list-style: none;
    padding: 10px;
    width: 100px;
}
header .fa{
margin-right: 8px;
}
header ul li a{
    text-decoration: none;
    color: #fff;
}
.active,header ul li:hover{
   background-color:#edcfa9; 
   border-radius: 3px ;
    
}
.sub-menu-1{
    display: none;
}
header ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: #f08a5d;
    margin-top: 14px;
}
header ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
    }
    header ul li:hover .sub-menu-1 ul li{
        
        text-align: left;
        width: 100px;
        border-bottom: 1px dotted #f08a5d ;
        background: transparent;
        border-radius: 0;
        }
        header ul li:hover .sub-menu-1 ul li:last-child{
            border-bottom: none;
        }
.sub-menu-2{
    display: none;
}
header ul li:hover .sub-menu-2{
    display: block;
    background-color:#f08a5d ;
    position: absolute;
    margin-top: 10px;
}
header ul li:hover .sub-menu-2 ul{
    display: block;
}
header ul li:hover .sub-menu-2 ul li{
    text-align: left;
    border-bottom: 2px dotted #fff
    ;
}
header ul li:hover .sub-menu-2 ul li:nth-child(2n){
    border-bottom-color: #f08a5d;
}
header ul li:hover .sub-menu-2 ul li:nth-child(3){
    border-bottom: none;
  
}
.sub-menu-3{
    display: none;
    position: absolute;
  

}
.fa-angle-right{
    float:right;
    margin-right: 10px;
   
    
}
/* header ul li:hover .sub-menu-3{
    display: block;
    background-color: yellow;
} */
.hover-me:hover .sub-menu-3{
    display: block;
    position: absolute;
    background-color: #f08a5d;
    margin-left: 90px;

}
.hover-me:hover .sub-menu-3 ul li{
    text-align: left;
    color: #fff;
}
.sub-menu-4{
    display: none;
}
.menu:hover .sub-menu-4{
    display: block;
    background-color: #f08a5d;
}